.key {
  border: none;
  border-radius: 0.2rem;
  height: 3rem;
  width: 100%;
  max-width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  color: white;
  font-weight: bold;
}

.key:active {
  opacity: 0.7;
}

.green {
  background-color: var(--green-color);
}

.yellow {
  background-color: var(--yellow-color);
  color: black;
}

.gray {
  background-color: var(--gray-color);
}

.default {
  background-color: var(--default-color);
  color: black;
}

.error {
  background-color: red;
}
