.row {
}

.row td {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-weight: bold;
  border-radius: 0.2rem;
}

.green {
  background-color: var(--green-color);
  color: white;
}

.yellow {
  background-color: var(--yellow-color);
}

.gray {
  background-color: var(--gray-color);
  color: white;
}
